<!-- /menu footer buttons -->
<div class="sidebar-footer hidden-small">
  <a data-toggle="tooltip" data-placement="top" title="Налаштування">
    <i class="fas fa-cog"></i>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="FullScreen">
    <i class="fas fa-arrows-alt"></i>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="Lock">
    <i class="fas fa-eye-slash"></i>
  </a>
  <a data-toggle="tooltip" data-placement="top" title="Вихід" href="/">
    <i class="fas fa-power-off"></i>
  </a>
</div>
<!-- /menu footer buttons -->