<simple-notifications></simple-notifications> 
<div style="padding-top: 50px;">
  <p class="tip">UniDash - University Dashboard</p>
  <div [ngClass]="{'cont': true, 's--signup' : toogleSignUp}">
    <form [formGroup]="loginForm" class="form sign-in">
      <h2>Ласкаво просимо,</h2>
      <label>
        <span>Login</span>
        <input type="text" formControlName="userName"/>
      </label>
      <label>
        <span>Пароль</span>
        <input type="password" formControlName="password"/>
      </label>
      <p class="forgot-pass">Не пам'ятаєте паролю?</p>
      <button type="button" class="submit" (click)="login()">Увійти</button>
      <button type="button" class="fb-btn">Увійти через <span>facebook</span>(скоро)</button>
    </form>
    <div class="sub-cont">
      <div class="img">
        <div class="img__text m--up">
          <h2>Вперше тут?</h2>
          <p>Зареєструйтеся та відкрийте для себе велику кількість нових можливостей!</p>
        </div>
        <div class="img__text m--in">
          <h2>Вже є аккаунт?</h2>
          <p>Якщо у вас вже є обліковий запис, просто увійдіть. Ми пропустимо вас!</p>
        </div>
        <div class="img__btn" (click)='toogleSignUp = !toogleSignUp'>
          <span class="m--up">Зараєструватися</span>
          <span class="m--in">Увійти</span>
        </div>
      </div>
      <form [formGroup]="regForm" class="form sign-up">
        <h2>Час відчути себе як вдома,</h2>
        <label>
          <span>ФІО</span>
          <input type="text" formControlName="fullName"/>
        </label>
        <label>
          <span>Логін</span>
          <input type="text"  formControlName="userName"/>
        </label>
        <label>
          <span>Email</span>
          <input type="email"  formControlName="email"/>
        </label>
        <label>
          <span>Пароль</span>
          <input type="password"  formControlName="password"/>
        </label>
        <button type="button" class="submit" (click)="register()">Зареєструйтеся</button>
        <button type="button" class="fb-btn">Приєднатися через <span>facebook</span>(скоро)</button>
      </form>
    </div>
  </div>
</div> 