<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
          <div class="x_title">
              <h2>Пошук</h2>
              <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <form [formGroup]="filterGroup">
                <div class="form-row">
                    <div class="col">
                        <mat-form-field class="w-100">
                            <input matInput placeholder="Ідентифікатор" formControlName="id">
                        </mat-form-field>
                        <mat-form-field class="w-100">
                          <input matInput placeholder="Прізвище / Ім'я / По-батькові" formControlName="fullName">
                        </mat-form-field>
                    </div>
                    <div class="col">
                      <mat-form-field class="w-100">
                        <input matInput placeholder="Телефон" formControlName="phone">
                      </mat-form-field>
                      <mat-form-field class="w-100">
                        <input matInput placeholder="Email" formControlName="email">
                      </mat-form-field>
                    </div>
                    <div class="col">
                      <mat-form-field class="w-100">
                          <mat-select placeholder="Спеціальності..." formControlName="speciality" multiple #speciality>
                              <mat-select-trigger>
                                  {{speciality.value ? speciality.value[0] : ''}}
                                  <span *ngIf="speciality.value?.length > 1" class="example-additional-selection">
                                    (+{{speciality.value.length - 1}} {{speciality.value?.length === 2 ? 'інша спец.' : 'інші спец.'}})
                                  </span>
                                </mat-select-trigger>
                            <mat-option *ngFor="let topping of spec" [value]="topping">{{topping}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      <div class="float-right">
                        <button class="w-50" mat-raised-button color="primary">Пошук</button>
                      </div>
                      <div class="float-right">
                        <button class="w-50" mat-raised-button>Очистити</button>
                      </div>
                    </div>
                </div>
            </form>
          </div>
      </div>
  </div>
</div>