<!-- top navigation -->
<div class="top_nav">
  <div class="nav_menu">
      <nav>
          <div class="nav toggle">
              <a id="menu_toggle"><i class="fa fa-bars" style="font-size: 25px;"></i></a>
          </div>

          <ul class="nav navbar-nav navbar-right">
              <li class="">
                  <a href="javascript:;" class="user-profile" data-toggle="dropdown" aria-expanded="false">
                      <img src="../../assets/images/user.png" alt="" />{{userName}}
                      <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu float-right">
                      <li><a href="javascript:;"> Профіль</a></li>
                      <li>
                          <a href="/">
                              <span class="badge bg-red float-right">50%</span>
                              <span>Налаштування</span>
                          </a>
                      </li>
                      <li><a href="javascript:;">Допомога</a></li>
                      <li><a (click)="logout()"><i class="fas fa-sign-out-alt float-right"></i> Вийти</a></li>
                  </ul>
              </li>

              <li role="presentation" class="dropdown">
                  <a href="javascript:;" class="info-number" data-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-envelope"></i>
                    <span class="badge bg-green">6</span>
                  </a>
                  <ul id="menu1" class="dropdown-menu list-unstyled msg_list dropdown-menu-right" role="menu">
                      <li>
                          <a>
                              <span class="image"><img src="../../assets/images/user.png" alt="Profile Image" /></span>
                              <span>
                                  <span>Колесник Роман</span>
                                  <span class="time">3 хв. назад</span>
                              </span>
                              <span class="message">
                                  Film festivals used to be do-or-die moments for movie makers. They were where...
                              </span>
                          </a>
                      </li>
                      <li>
                          <a>
                              <span class="image"><img src="../../assets/images/user.png" alt="Profile Image" /></span>
                              <span>
                                  <span>John Smith</span>
                                  <span class="time">3 хв. назад</span>
                              </span>
                              <span class="message">
                                  Film festivals used to be do-or-die moments for movie makers. They were where...
                              </span>
                          </a>
                      </li>
                      <li>
                          <a>
                              <span class="image"><img src="../../assets/images/user.png" alt="Profile Image" /></span>
                              <span>
                                  <span>John Smith</span>
                                  <span class="time">4 хв. назад</span>
                              </span>
                              <span class="message">
                                  Film festivals used to be do-or-die moments for movie makers. They were where...
                              </span>
                          </a>
                      </li>
                      <li>
                          <a>
                              <span class="image"><img src="../../assets/images/user.png" alt="Profile Image" /></span>
                              <span>
                                  <span>John Smith</span>
                                  <span class="time">5 хв. назад</span>
                              </span>
                              <span class="message">
                                  Film festivals used to be do-or-die moments for movie makers. They were where...
                              </span>
                          </a>
                      </li>
                      <li>
                          <div class="text-center">
                              <a>
                                  <strong>Показати все</strong>
                                  <i class="fa fa-angle-right"></i>
                              </a>
                          </div>
                      </li>
                  </ul>
              </li>
          </ul>
      </nav>
  </div>
</div>
<!-- /top navigation -->