 <!-- sidebar menu -->
 <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
      <h3>Головне</h3>
      <ul class="nav side-menu">
          <li><a><i class="fas fa-home" style="font-size: 18px"></i><span class="ml-3">Головна</span> </a></li>
          <li><a><i class="far fa-edit"  style="font-size: 18px"></i><span class="ml-3">Абітурієнти</span><span class="fa fa-chevron-down fanew"></span></a>
              <ul class="nav child_menu">
                  <li routerLinkActive="current-page" [routerLinkActiveOptions]="{exact:true}"><a routerLink="applicants/" >Таблиця</a></li>
                  <li routerLinkActive="current-page"><a routerLink="applicants/edit">Редагування</a></li>
                  <li routerLinkActive="current-page"><a href="form_advanced.html">Статистика</a></li>
              </ul>
          </li>
          <li>
              <a><i class="fa fa-edit" style="font-size: 18px"></i><span class="ml-3">Вступна компанія</span><span class="fa fa-chevron-down fanew"></span></a>
              <ul class="nav child_menu">
                  <li><a href="#">Редагування</a></li>
                  <li><a href="form_advanced.html">Статистика</a></li>
                  <li><a href="form_validation.html">Експорт</a></li>
              </ul>
          </li>
          <li><a href="#"><i class="far fa-newspaper"  style="font-size: 18px"></i><span class="ml-3">Електронний журнал</span> </a></li>
          <li><a href="#"><i class="fas fa-calendar-alt"  style="font-size: 18px"></i><span class="ml-3 mr-1">Розклад</span></a></li>
      </ul>
  </div>
  <div class="menu_section">
      <h3>Адміністрування</h3>
      <ul class="nav side-menu">
          <li>
              <a><i class="fas fa-users" style="font-size: 18px"></i><span class="ml-3">Користувачі</span><span class="fa fa-chevron-down fanew"></span></a>
              <ul class="nav child_menu">
                  <li><a href="#">Список</a></li>
                  <li><a href="projects.html">Підтвердження</a></li>
                  <li><a href="#">Доступ</a></li>
              </ul>
          </li>
          <li>
              <a><i class="fas fa-university" style="font-size: 18px"></i><span class="ml-3">Університет</span><span class="fa fa-chevron-down fanew"></span></a>
              <ul class="nav child_menu">
                  <li><a href="#">Структура університету</a></li>
              </ul>
          </li>
          <li>
              <a><i class="fas fa-toolbox" style="font-size: 18px"></i><span class="ml-3">Система</span><span class="fa fa-chevron-down fanew"></span></a>
              <ul class="nav child_menu">
                  <li><a href="#">Функції</a></li>
                  <li><a href="projects.html">Логування</a></li>
                  <li><a href="projects.html">База</a></li>
              </ul>
          </li>
      </ul>
  </div>

</div>
<!-- /sidebar menu -->
